extends _layoute

block title
  title Koji Ishimoto - t32k.me
block description
  meta(name='description' content='Koji Ishimoto is a front-end developer in Japan.')

block body
  .container(itemscope, itemtype='http://data-vocabulary.org/Person')
    article.twelve.columns.content(role='main')
      header
        h1(itemprop='name') Koji Ishimoto
      hr
      section#about
        h3 About
        p
          img.profile(src='http://t32k.me/static/assets/img/me.jpg', width='120', height='120', alt='Koji Ishimoto', itemprop='photo')
          strong(itemprop='title') Web Developer
          br
          | Koji Ishimoto was born and grew up in Japan.
          | He is originally from web designer, majored in living style design at University of Shiga Prefecture. He is also passionate about programming. In his career, he was in charge of coding HTML/CSS/JavaScript, and education to new employees.
        p
          | He writes about web performance and mobile web in his blog,&nbsp;
          a(href='http://t32k.me/mol/') MOL - Designing for a Mobile World!
          | . He is also a founder of&nbsp;
          a(href='http://jsgirls.org/') JS Girls
          |  which is a community for ladies who learn JavaScript.
        ul
          li
            | Social accounts:&nbsp;
            a(href='//github.com/t32k/') GitHub
            |&nbsp;/&nbsp;
            a(href='//www.behance.net/t32k') Behance
            | &nbsp;/&nbsp;
            a(href='//www.linkedin.com/in/kojiishimoto') LinkedIn
            | &nbsp;/&nbsp;
            a(href='//speakerdeck.com/t32k') Speaker Deck
            | &nbsp;/&nbsp;
            a(href='//www.slideshare.net/t32k') SlideShare
            | &nbsp;/&nbsp;
            a(href='//twitter.com/kojismt/') Twitter&nbsp;
            | (
            a(href='//twitter.com/t32k/') ja
            | )
      hr
      section#education
        h3 Education
        ul
          li B.A., Product Design, University of Shiga Prefecture, 2007.
      hr

      section#w
        h3 Work Experience
        p
          strong 2015 -, Kaizen Platform, Inc.
          br
          | Kaizen Platform is a full-service digital customer experience optimization platform. Kaizen scalably optimizes the entire customer journey with data-driven creativity.
          br
          | Front-end Engineer
        p
          strong 2012 - 2014, CyberAgent, Inc.
          br
          | CyberAgent manages&nbsp;
          a(href='http://www.alexa.com/siteinfo/ameblo.jp') Ameblo
          |  which is one of the top sites in Japan.
          br
          | Web Developer
        ul
          li Managed the biggest front-end developer community in Japan.
          li Led a front-end web performance team to improve speed of all social game applications in the company.
          li Developed a bulletin board system service for ladies.
        p
          strong 2007 - 2012, DMM.com Labo Co.,Ltd.
          br
          a(href='http://www.alexa.com/siteinfo/dmm.com') DMM.com
          |  is one of the top E-commerce sites in Japan.
          br
          | Web Designer, Web Analyst
        ul
          li Led an analyst team to implement Google Analytics and Adobe Analytics.
          li Introduced Semantic HTML(Microformats).
          li Improved main template view and top page view file with HTML5.
          li Created HTML/CSS cording guidelines for web designer in the company.
      hr

      section#communities
        h3 Communities
        h4 JS Girls
        p
          img.u-pull-left(src='http://t32k.me/static/assets/img/jsgirls.png' width='74' height='74' alt='' class='img-a')
        p
          strong 2014 - , founder
          br
          | A developer community for ladies who learn JavaScript.
          br
          a(href='http://jsgirls.org/') http://jsgirls.org/
        h4.u-cf Frontrend
        p
          img.u-pull-left(src='http://t32k.me/static/assets/img/frontrend.png' width='75' height='70' alt='' class='img-a')
        p
          strong 2012 - 2014, Organizer
          br
          | The Frontrend meetup is about everything frontend technology.
          br
          a(href='http://frontrend.github.io/') http://frontrend.github.io/
        h4.u-cf kanazawa.js
        p
          img.u-pull-left(src='http://t32k.me/static/assets/img/kanazawajs.png' width='48' height='75' alt='' class='img-b')
        p
          strong 2010 - 2012, Organizer
          br
          | A community for developers who learn JavaScript in Kanazawa.
          br
          a(href='http://kanazawajs.tumblr.com/') http://kanazawajs.tumblr.com/
      hr
      section#publications
        h3 Publications
        ul
          li
            | 2014/07/02,&nbsp;
            a(href='//www.amazon.co.jp/dp/B00ME9TTMA/?tag=warikiru-22') フロントエンドエンジニア養成読本
          li
            | 2014/03/18,&nbsp;
            a(href='//www.amazon.co.jp/dp/B00J8DSQ6K/?tag=warikiru-22') Sass&amp;Compass徹底入門 CSSのベストプラクティスを効率よく実現するために
          li
            | 2013/10/24,&nbsp;
            a(href='//www.amazon.co.jp/dp/4774159905?tag=warikiru-22') WEB+DB PRESS Vol.77 特集 Sass/Compass
          li
            | 2012/08/27,&nbsp;
            a(href='//www.amazon.co.jp/dp/B00CGXVGUM/?tag=warikiru-22') すべての人に知っておいてほしい スマートフォンサイトデザインの基本原則
          li
            | 2011/09/26,&nbsp;
            a(href='//www.amazon.co.jp/dp/4844362232?tag=warikiru-22') iPhone & Android スマートフォンサイト制作の教科書
        .u-cf
          .u-pull-left(class='u-mbs')
            a(href='http://www.amazon.co.jp/exec/obidos/ASIN/B00J8DSQ6K/warikiru-22/')
              img(src='http://ecx.images-amazon.com/images/I/517HFB9SweL._SL160_.jpg' alt='Sass＆Compass 徹底入門')
          .u-pull-left(class='amazon-desc')
            strong
              a(href='http://www.amazon.co.jp/exec/obidos/ASIN/B00J8DSQ6K/warikiru-22/') Sass＆Compass 徹底入門
            div Wynn Netherland, Nathan Weizenbaum, Chris Eppstein
            div Koji Ishimoto (Supervisor)
            div SHOEISHA.Co.,Ltd.
            div
              a(href='http://www.amazon.co.jp/exec/obidos/ASIN/B00J8DSQ6K/warikiru-22/') on Amazon.co.jp
        p
          | This book is&nbsp;
          a(href='http://www.manning.com/netherland/') Sass and Compass in Action
          |  which is translated into Japanese. I supervised the translation.

      hr
      section#projects
        h3 Personal Projects
        ul
          li
            | 2015/01/28,&nbsp;
            a(href='http://t32k.me/wisteria/')
              strong Wisteria.css
            |  A class selectors based harmless CSS library.
          li
            | 2015/01/14,&nbsp;
            a(href='//frontendweekly.tokyo/')
              strong Frontend Weekly
            |  A weekly e-mail roundup of frontend articles.
          li
            | 2014/12/10,&nbsp;
            a(href='//github.com/t32k/material-design-color-palette-sketch-plugin')
              strong Sketch Plugin
            |  for generating Google Material Design color palette.
          li
            | 2014/06/14,&nbsp;
            a(href='//www.stylestats.org')
              strong StyleStats
            |  A web application to collect CSS statistics.
          li
            | 2013/04/25,&nbsp;
            a(href='//github.com/t32k/maple')
              strong Maple
            |  Realistic preprocessors-based CSS framework.
        h4 npm
        ul
          li
            | 2015/04/01,&nbsp;
            a(href='//npmjs.com/package/gaer')
              strong gaer
          li
            | 2014/03/11,&nbsp;
            a(href='//npmjs.com/package/stylestats')
              strong stylestats
          li
            | 2014/11/13,&nbsp;
            a(href='//npmjs.com/package/generator-maple')
              strong generator-maple
          li
            | 2013/07/31,&nbsp;
            a(href='//npmjs.com/package/grunt-kss')
              strong grunt-kss
          li
            | 2013/01/22,&nbsp;
            a(href='//npmjs.com/package/grunt-csscomb')
              strong grunt-csscomb
          li
            | 2013/01/14,&nbsp;
            a(href='//npmjs.com/package/grunt-stats')
              strong grunt-stats
            |  (deprecated)
          li
            | 2013/01/14,&nbsp;
            a(href='//npmjs.com/package/grunt-scandium')
              strong grunt-scandium
            |  (deprecated)
          li
            | 2012/10/14,&nbsp;
            a(href='//npmjs.com/package/grunt-csso')
              strong grunt-csso
        h4 Chrome Extensions
        ul
          li
            | 2013/02/05,&nbsp;
            a(href='//chrome.google.com/webstore/detail/gfaceee/fgkdbhnipaaeokfjgdmpejglfepclgbk')
              strong gFaceee
            |  (Developer Tools)
          li
            | 2012/03/30,&nbsp;
            a(href='//chrome.google.com/webstore/detail/hncbhkcefohejgnjadgbcjbgkbelnmlj')
              strong Listy for DMM.com
            |  (Social & Communication)
          li
            | 2012/03/22,&nbsp;
            a(href='//chrome.google.com/webstore/detail/kjhbibcocglfnpllfodaiabanmmegomm')
              strong jsoff
            |  (Developer Tools)
        h4 iOS Apps
        ul
          li
            | 2011/09/15,&nbsp;
            strong tissa
            |  (Utility) powered by Titanium Mobile
          li
            | 2011/05/02,&nbsp;
            strong Nyars
            |  (Camera) powered by Titanium Mobile
      hr
      section#talks
        h3 Talks
        h4 2015
        ul
          li
            a(href='https://speakerdeck.com/t32k/evaluating-css')
              strong Evaluating CSS
            | , 40mins
            br
            | 02/21, Frontrend Final Conference, 500seats, CyberAgent, Inc. Head Office in Tokyo
        h4 2014
        ul
          li
            a(href='http://inkdesign.jp/event/css-architecture/')
              strong A story of CSS engineer, Koji Ishimoto
            | , 30mins
            br
            | 11/18, A Publish Event for CSS Architecture for Web Developer, 70seats, FirstServer Head Office in Osaka
          li
            a(href='http://www.slideshare.net/t32k/i-wanna-bea-frontendengineer')
              strong How to be a front-end engineer
            | , 45mins
            br
            | 02/13, Developers Summit 2014, 2500seats, MEGURO GAJOEN in Tokyo
          li
            a(href='http://frontendfrogs.org/frontrend/#d-1')
              strong Efficient UI Development
            | , 45mins
            br
            | 01/25, Frontrend in Fukuoka, 150seats, Ruby Contents Industrial Suppor Center in Fukuoka
        h4 2013
        ul
          li
            a(href='https://speakerdeck.com/t32k/modern-development-workflow-with-grunt')
              strong Moden Web Development Workflow with Grunt
            | , 45mins
            br
            | 11/30, HTML5 Conference 2013, 2000seats, NTT Leraning Center in Tokyo
          li
            a(href='https://speakerdeck.com/t32k/webpagetest-in-5-minutes')
              strong WebPagetest 5 minutes
            | , 5mins
            br
            | 10/30, Frontrend x Chrome Tech Talk Night Extended, 450seats, CyberAgent, Inc. Head Office in Tokyo
          li
            a(href='http://schoo.jp/class/228')
              strong Introduction to Sass/Compass for Web Desinger
            | , 40mins
            br
            | 09/27, schoo WEB-campus, Online Lesson in Tokyo
          li
            a(href='https://speakerdeck.com/t32k/introduction-to-sass-compass-for-sencha-touch')
              strong Introduction to Sass Compass for Sencha Touch User
            | , 40mins
            br
            | 03/15, SenchaUG Meetup Vol.6, 30seats, Kanto IT Software Kenpo Kaikan in Tokyo
          li
            a(href='https://speakerdeck.com/t32k/var-gurator-equals-gist-plus-curator')
              strong var Gurator = Gist + Curator;
            | , 5mins
            br
            | 02/03, Qiita 2-day Hackathon, 80seats, Digital Garage, Inc. in Tokyo
          li
            a(href='https://speakerdeck.com/t32k/sublime-text-and-grunt-for-titanium-development')
              strong Sublime Text and Grunt for Titanium Development
            | , 10mins
            br
            | 01/25, Titanium Meetup Tokyo #5, 70seats, CyberAgent, Inc. Head Office in Tokyo
          li
            strong Management of Sass/Compass with web peformance mind
            | , 50mins
            br
            | 01/12, CSS Nite LP, Disk 26, 240seats, 	Bellesalle HANZOUMON in Tokyo
        h4 2012
        ul
          li
            strong Management of Sass/Compass with web peformance mind
            | , 50mins
            br
            | 12/15,  SaCSS vol.40, 60seats, Sapporo Citizens Hall in Sapporo
          li
            a(href='http://www.slideshare.net/t32k/web-15218538')
              strong 3 secrets of optimizing your mobile app
            | , 30mins
            br
            | 11/17, Tap App Awards Smartphone UI Meetup, 150seats, CyberAgent, Inc. Head Office in Tokyo
          li
            a(href='http://www.slideshare.net/t32k/ss-15915114')
              strong Mobile Front-end Optimization
            | , 45mins
            br
            | 11/10, Webridge Meeting SP12 featuring Frontrend, 60seats, Kagawa Information Service Center in Kagawa
          li
            a(href='https://speakerdeck.com/t32k/mobile-front-end-optimization-standard-2012')
              strong Mobile Front-end Optimization Standard:2012
            | , 40mins
            br
            | 10/21, Frontrend Vol.3 powered by CyberAgent, 120seats, CyberAgent, Inc.Head Office in Tokyo
          li
            a(href='https://speakerdeck.com/u/t32k/p/improve-web-performance-with-chrome-dev-tools')
              strong Make the Web Faster! - Chrome DevTools for improving Web Performance -
            | , 50mins
            br
            | 08/24, In‐house Meetup, 60seats, CyberAgent, Inc. Head Office in Tokyo
          li
            a(href='http://www.slideshare.net/t32k/measuring-web-performance-15915024')
              strong Measuring Web Performance
            | , 45mins
            br
            | 06/30, CSS Nite LP, Disk 23, 240seats, Bellesalle KUDAN in Tokyo
        h4 2011
        ul
          li
            a(href='http://www.slideshare.net/t32k/tissa-for-ios')
              strong tissa for iOS
            | , 3mins
            br
            | 10/27, Titanium Meetup Tokyo #14, DNP Gotanda in Tokyo
          li
            strong Implementing Google Aanalytics to a bigger site and report
            | , 30mins
            br
            | 10/22, CSS Nite LP, Disk 19 reprise, Bellesalle YAESU in Tokyo
          li
            a(href='http://www.slideshare.net/t32k/lp19-ishimoto')
              strong Implementing Google Aanalytics to a bigger site and report
            | , 30mins
            br
            | 10/15, CSS Nite LP, Disk 19, Bellesalle JINBOCHO in Tokyo
          li
            strong Introduction to Titanium Mobile
            | , 45mins
            br
            | 09/25, kanazawa.js v1.6, Shinoki Cultural Complex in Ishikawa
          li
            strong The paid iPhone app I made
            | , 30mins
            br
            | 09/17, Ti.Developers.meeting Vol.0.3, Hatena Head Office in Kyoto
          li
            a(href='http://www.slideshare.net/t32k/mobile-first-8197966')
              strong Mobile First - How shoud Web Designer do
            | , 15mins
            br
            | 06/04, UPGRADE JAPAN!!, Fukui Industrial Support Center in Fukui
          li
            a(href='http://www.slideshare.net/t32k/using-google-analytics-with-jquery-mobile')
              strong Using Google Analytics with jQuery Mobile
            | , 15mins
            br
            | 06/28, _gaTracker 1st Meeting in Tokyo
          li
            strong The iPhone App a web designer made
            | , 15mins
            br
            | 06/18, Nagoya Android Meetup Vol.2 Titanium Mobile Hands-on, Aichi Institute of Technology in Nagoya
          li
            a(href='http://www.slideshare.net/t32k/communities-of-practice-7662359')
              strong Communities of Practice – Histroy of kanazawa.js
            | , 30mins
            br
            | 04/16, kanazawa.js v1.2, IT Business Plaza Musashi in Ishikawa
          li
            strong The iPhone App a web designer made
            | , 15mins
            br
            | 04/08, WCAF Seminar Vol.6, Fukui Industrial Support Center in Fukui
          li
            strong The iPhone App a web designer made
            | , 15mins
            br
            | 04/03, Untitled!!!!!!!!, Osaka Urban Industry Promotion Center in Osaka
        h4 2010
        ul
          li
            strong Long Life Web Performance Optimization
            | , 40mins
            br
            | 10/16, WCAF Seminar Vol.4, Fukui Industrial Support Center in Fukui
          li
            a(href='http://www.slideshare.net/t32k/long-life-web-performance-optimization')
              strong Long Life Web Performance Optimization
            | , 40mins
            br
            | 09/25, dotcoder session4, Osaka Kensyu Center in Osaka
          li
            a(href='http://www.slideshare.net/t32k/coding-web-performance')
              strong Coding Web Performance
            | , 35mins
            br
            | 04/17, CSS Nite LP, Disk 9「Coder's Higher」, Bellesalle KANDA in Tokyo
        h4 2009
        ul
          li
            a(href='http://www.slideshare.net/t32k/high-performance-web-design')
              strong High Performance Web Design
            | , 40mins
            br
            | 10/24, CSS Nite in ISHIKAWA, Vol.1, Ishikawa Indust Promotion Center in Ishikawa
          li
            a(href='http://www.slideshare.net/t32k/webmicroformats-1728152')
              strong Learning Microformats from Web Slice
            | , 10mins
            br
            | 07/18, Windows7 Community Meetup with Tech Fielders, Hotel Kanazawa in Ishikawa
      hr
      footer(role='contentinfo')
        small © 2007 t32k.me