doctype
html(lang='ja')
  include ./includes/head.jade
  body
    include ./includes/content.jade
    noscript
      link(rel='stylesheet' href='/skeleton.min.css')
    include ./includes/script.jade
