.container{ position: relative; width: 100%; max-width: 960px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 0px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; box-sizing: border-box; }
 .columns{ width: 100%; float: left; box-sizing: border-box; }
@media (min-width: 400px){
.container{ width: 85%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
}
@media (min-width: 550px){
.container{ padding-top: 60px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; width: 80%; }
 .columns{ margin-left: 4%; }
 .columns:first-child{ margin-left: 0px; }
.two.columns{ width: 13.3333333333%; }
.ten.columns{ width: 82.6666666667%; }
}
html{ font-size: 62.5%; }
body{ font-size: 1.5em; line-height: 1.6; font-weight: 400; font-family: Raleway, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(34, 34, 34); }
 h2, h3, h5{ margin-top: 0px; margin-bottom: 2rem; font-weight: 300; }
h2{ font-size: 3.6rem; line-height: 1.25; letter-spacing: -0.1rem; }
h3{ font-size: 3rem; line-height: 1.3; letter-spacing: -0.1rem; }
h5{ font-size: 1.8rem; line-height: 1.5; letter-spacing: -0.05rem; }
@media (min-width: 550px){
h2{ font-size: 4.2rem; }
h3{ font-size: 3.6rem; }
h5{ font-size: 2.4rem; }
}
p{ margin-top: 0px; }
a{ color: rgb(30, 174, 219); text-decoration: none; }
ul{ list-style-type: circle; list-style-position: inside; list-style-image: initial; }
 ul{ padding-left: 0px; margin-top: 0px; }
li{ margin-bottom: 1rem; }
 td{ padding-top: 12px; padding-right: 15px; padding-bottom: 12px; padding-left: 15px; text-align: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(225, 225, 225); }
 td:first-child{ padding-left: 0px; }
 td:last-child{ padding-right: 0px; }
 p, ul{ margin-bottom: 2.5rem; }
p{ margin-top: 0px; }
hr{ margin-top: 3rem; margin-bottom: 3.5rem; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(225, 225, 225); }