head
  meta(charset='utf-8')
  title Koji Ishimoto - t32k.me
  meta(name='viewport', content='width=device-width')
  meta(name='description', content="I'm a Web Developer.")
  meta(property='fb:admins', content='1253991573')
  meta(property='og:locale', content='ja_JP')
  meta(property='og:site_name', content='t32k.me')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://t32k.me/')
  meta(property='og:image', content='http://t32k.me/mol/images/t32k.png')
  style
    include critical.min.css